///////////////////////////////////////
// css theme variables / settings


$font-family:       "Hack", Helvetica, Arial, sans-serif;
$font-family2:       "Hack", Helvetica, Arial, sans-serif;


$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #ddd;
$masthead-small-color:   #ddd0;

$post-title-color:       #ddd;
$post-date-color:        #ddd;


$body-color:            #ddd;
$body-background-color: #222;

$link-color:            #268bd2;

$headings-color:        #ddd;    // h1,h2,h3,h4,h5,h6

$strong-color:          #303030;    // strong

$pre-background-color:  #f9f9f9;    // pre

$blockquote-color:        #ddd;  // blockquote
$blockquote-border-color: #e5e5e5;

$table-border-color:         #e5e5e5;
$table-odd-background-color: #f9f9f9;


